button[type="goBackToContact"] {
    padding: 10px 20px;
    background-color: #d63c96;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 50px;
}

button[type="order"] {
    padding: 10px 20px;
    background-color: #d63c96;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

h1 {
    text-align: left;
    font-size: 45px;
    font-family: Bookman, URW Bookman L, serif
}

.cart-progress-bar {
    height: 30px;
    background-color: #007bff;
    width: 100%;  
    margin-bottom: 20px;
    padding-top: 5px;
  }